{% extends "base.html" %}
{% block content %}
<div class="max-w-3xl mx-auto p-8 text-white">
    <h2 class="text-3xl font-bold mb-6 text-center">👀 Your Friends' Activity Today</h2>

    {% if friend_stats %}
        <table class="w-full text-left border-separate border-spacing-y-4">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Today's activity</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for f in friend_stats %}
                    <tr class="bg-white/10 backdrop-blur p-4 rounded-lg shadow">
                        <td class="py-3 px-4 font-semibold">{{ f.username }}</td>
                        <td class="py-3 px-4">{{ f.total_today }} dk</td>
                        <td class="py-3 px-4">
                            {% if f.is_active %}
                                <span class="text-green-400 animate-pulse">🟢 FOCUZING</span>

                            {% else %}
                                <span class="text-gray-400">😴 Avaliable</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-center text-gray-300">You don't have any friends yet. 😢</p>
    {% endif %}
</div>
{% endblock %}
